.DS_Store
/.build
/Benchmarks/.benchmarkBaselines
/Benchmarks/.build
/Benchmarks/.swiftpm
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
